#products {
    padding-top: 5rem;
}

.list-none {
    list-style: none;
}

#menu2 {
    display: none;
}

#menu3 {
    display: none;
}

.tokopedia-btn {
    color: lightgreen;
    text-decoration: none;
    padding: 12px 0;
    border: 2px solid lightgreen;
    border-radius: 6px;
    transition: 0.3s linear;
    width: 100%;
    display: block;
    text-align: center;
}

.tokopedia-btn:hover {
    background-color: lightgreen;
    color: white;
}

#tokopedia {
    height: 15px;
    width: 15px;
}
